*{
    margin:0;
    padding:0;
    user-select:none;
}

body{
    display:flex;
    align-items:center;
    flex-direction:column;
    list-style-type:none;
    overflow-x:hidden;
}

html { scroll-behavior: smooth; }





/*--------------------------------------------------------------*/

.dropdown-menu{
    position:absolute;
    top:20px;
    left:20px;
    width:100px;
}



.dropdown-menu .dropdownBtn{
    height:25px;
    width:25px;
    display:flex;
    justify-content:left;
    transition:all 0.5s ease;
    transform:translateX(0px);


}
.dropdownBtn.active{transform:translateX(calc( (100px / 2) - (25px / 2) ))}
.dropdownBtn.startup{transform:translateX(-45px);}



.dropdown-menu .menu-content{
    transform:translateX(-90px);
    display:flex;
    opacity:0;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:15px 0 6px 0;
    gap:15px;
    transition:all 0.5s ease;

}


.dropdown-menu .menu-content.active{
    transform:translate(0);
    opacity:1;
}

.dropdown-menu .menu-content li a {
    color:black;
    text-decoration:none;
}







/*--------------------------------------------------------------*/



.logo{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    
}

.logo img{
    width:95vw;
    transition:all 0.5s ease;
    opacity:0;
    transform:TranslateY(0);
    
}


/*--------------------------------------------------------------*/


.arrow-down{
    position:absolute;
    bottom:50px;
    transition:all 1s ease;
    transform:translateY(-50px);
    opacity:0;
}
.arrow-down .material-symbols-outlined{
    font-size:25px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}.material-symbols-outlined a{color:black;}



/*--------------------------------------------------------------*/




.main-container{
    width:100vw;
    height:fit-content;

    display:flex;
    flex-direction:column;
    
}

.main-container section{
    height:100%;
    margin:20px;
    padding:20px;

    background:beige;
    
}



/*--------------------------------------------------------------*/



@media only screen and (min-width: 40.063em) {
    .logo img{
        width:50vw;
        background:blue;
    }
}


