*{
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    user-select:none;
    overflow:hidden;
}


:root{
    --headerfooterColor: #3f3f3f;
}


/*----------------------------------------------------------------------------------------------------------*/


#header{
    position:fixed;
    top:0;
    height:80px;
    width:100vw;
    z-index:999;
    background-color:var(--headerfooterColor);
}
#footer{
    position:absolute;
    bottom:0;
    height:100px;
    width:100vw;
    z-index:998;
    background-color:var(--headerfooterColor);
}


/*----------------------------------------------------------------------------------------------------------*/



#logo{
    margin-top:100px;
    margin-bottom:20px;
    display:flex;
    justify-content:center;
}
#logo img{
    padding-top:50px;
    padding-bottom:50px;
    width:450px;
    flex-shrink:0;
    border-top:1px solid black;
    border-bottom:1px solid black;
}

#maintext{
    text-align:center;
    
    
}
#maintext h1{
    font-size:20px;
    color:black;
}
#maintext p{
    font-size:17px;
    color:var(--headerfooterColor);
    user-select:text;
    
}
